<div class="center jumbotron">
  <h1>Welcome to Evently</h1>

  <h2>
    This is the home page for the evently app. You can create an account, create events, and invite people to events.
  </h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>