<h2>User</h2>
<p>	
	<strong>Name:</strong><%= @user.full_name %>
</p>
<p>
	<strong>Email:</strong><%= @user.email %>
</p>

<h3>Hosted Events:</h3>
<ul>
	<% @user.hosted_events.each do |event| %>
		<li><%= event.title %> at <%= event.location %>.</li>
	<% end %>
</ul>